version: '3.3'
services:
    postgres:
        image: postgres
        environment:
            POSTGRES_PASSWORD: $POSTGRES_PASSWORD 
            POSTGRES_USER: $POSTGRES_USER
        expose:
            - 5432

    git-cloner:
        build:
            context: . 
            args:
                GITHUB_USERNAME: $GITHUB_USERNAME
                GITHUB_PASSWORD: $GITHUB_PASSWORD
                NAME: $NAME
                EMAIL: $EMAIL
        environment:
            REPO_URL: $REPO_URL 
        volumes:
            - code:/repo

    backend:
        image: node
        command: cd /repo/backend && yarn start
        volumes:
            - code:/repo

    frontend:
        image: node
        command: cd /repo/frontend && yarn start
        volumes:
            - code:/repo

    db-migrator:
        image: node
        command: cd /repo/database && yarn db-migrate-up 
        volumes:
            - code:/repo

volumes:
    repo: