name: Deploy 
on:
  push:
    branches:
      - main
jobs:
  tag-and-deploy-helm:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v5.5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      # - name: Helm Deploy
      #   uses: vimeda/helm@v1.6.6
      #   with: 
      #     namespace: ${{ github.repository }} 
      #     release: ${{ github.repository }}-${{ steps.tag_version.outputs.new_tag }}
      #     chart: .